

NET "bus_data[7]" LOC = K13;
NET "bus_data[6]" LOC = K12;
NET "bus_data[5]" LOC = J17;
NET "bus_data[4]" LOC = J16;
NET "bus_data[3]" LOC = J15;
NET "bus_data[2]" LOC = J14;
NET "bus_data[1]" LOC = J13;
NET "bus_data[0]" LOC = J12;
NET "my_leds[0]" LOC = D10;
NET "my_leds[1]" LOC = E10;
NET "my_leds[2]" LOC = A11;
NET "my_leds[3]" LOC = B11;
NET "my_leds[4]" LOC = C11;
NET "my_leds[5]" LOC = D11;
NET "my_leds[6]" LOC = E11;
NET "my_leds[7]" LOC = F11;
NET "my_leds[8]" LOC = A12;
NET "my_leds[9]" LOC = E12;
NET "my_leds[10]" LOC = F12;
NET "my_leds[11]" LOC = A13;
NET "my_leds[12]" LOC = B13;
NET "my_leds[13]" LOC = D13;
NET "my_leds[14]" LOC = E13;
NET "my_leds[15]" LOC = A14;
NET "sw_addr[0]" LOC = R1;
NET "sw_addr[1]" LOC = N2;
NET "sw_addr[2]" LOC = N1;
NET "sw_addr[3]" LOC = M1;
NET "sw_addr[4]" LOC = K7;
NET "sw_addr[5]" LOC = K2;
NET "sw_addr[6]" LOC = J7;
NET "sw_addr[7]" LOC = J6;
NET "sw_data[0]" LOC = T7;
NET "sw_data[1]" LOC = R7;
NET "sw_data[2]" LOC = U8;
NET "sw_data[3]" LOC = V4;
NET "sw_data[4]" LOC = V3;
NET "sw_data[5]" LOC = V2;
NET "sw_data[6]" LOC = U1;
NET "sw_data[7]" LOC = R4;
NET "ram1_en" LOC = M15;
NET "ram2_en" LOC = N10;
NET "uart_tbre" LOC = D14;
NET "uart_tsre" LOC = N9;
NET "uart_wrn" LOC = U5;
NET "clk" LOC = U9;
NET "rst" LOC = U10;
NET "uart_data_ready" LOC = A16;
NET "uart_rdn"   LOC = C14;
NET "uart_data_ready"  CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk50" LOC = B9;
NET "ram1_addr[0]" LOC = C17;
NET "ram1_addr[1]" LOC = C18;
NET "ram1_addr[2]" LOC = D16;
NET "ram1_addr[3]" LOC = D17;
NET "ram1_addr[4]" LOC = E15;
NET "ram1_addr[5]" LOC = E16;
NET "ram1_addr[6]" LOC = F14;
NET "ram1_addr[7]" LOC = F15;
NET "ram1_oe" LOC = M16;
NET "ram1_rw" LOC = M18;